.container{
    display: flex;
}

.wholeContainer{
    width: 100%;
}

input[type=radio] {
    cursor: pointer;
}


@media(max-width: 768px){
    .container{
        width: 90%;
        margin: auto;
    }
}