.container{
    padding-left: 96px;
    padding-top: 87px;
    padding-bottom: 100px;
    width: 30%;
}

.header{
    font-size: 24px;
    line-height: 27px;
    padding-bottom: 14px;
}

.options{
    display: block;
    list-style: none;
    
}

.btn{
    font-size: 20px;
    border: none;
    outline: none;
    padding: 15px 0px;
    margin-bottom: 5px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    border-left: 3px solid transparent;
}

.btnActive{
    background: #FDF2F3;
    color: #E44E62;
    border-color: #E44E62;
    width: 80%;

}

.circle{
    margin-right: 5px;
    display: inline-flex;
    align-items: center;

}

.btn > li{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.circle > svg{
    font-size: 20px;
}


@media(max-width: 768px){
    .container{
        padding-left: 0px;
        width: 40%;
    }
}