.container{
    padding: 87px 30px 0px 96px;
    width: 24%;
}

.container p{
    font-weight: 700;
    line-height: 27px;
    padding-top: 32px;
}
.container a{
    color: rgba(31, 31, 31, 0.47);
    text-decoration: none;
    padding-left: 10px;
}
.container li{
    display: flex;
    align-items: center;
    list-style: none;
    line-height: 26px;
}

@media(max-width: 768px){
.container{
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid black;
    padding-bottom: 20px;
}
}