footer{
    padding: 47px 98px 47px 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:  1px solid rgba(31, 31, 31, 0.47);
    font-family: "GT Walsheim Pro";
}

.buttons{
    display: flex;
}

.action{
    background: #FFB700;
    border: 2px solid #1F1F1F;
    padding: 21px 53px 21px 53px;
    font-weight: 500;
    font-size: 22px;
    
}

.back{
    border: 2px solid #1F1F1F;
    padding: 21px 92px 21px 92px;
    font-weight: 500;
    font-size: 22px;
}

@media(max-width: 768px){

    .back{
        padding:21px 40px;
    }
    .action{
        padding-left: 10px;
        padding-right: 10px;

    }
}

@media(max-width: 414px){
    footer{
        display: block;
        padding: 0;
        padding-top: 30px;
        
    }

    .subFooter{
        padding-left: 48px;
    }

    .buttons{
        width: 75%;
        margin: auto;
    }

    .back{
        font-size: 18px;
    }

    .action{
        font-size: 18px;
    }
}