.container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 96px 20px 96px;
    border-bottom: 1px solid black;
}
.container ul{
    display: flex;
}

.container li{
    list-style: none;
    padding-left: 20px;
}
.container a{
    text-decoration: none;
    color: black;
}

.currentLink{
    font-weight:700;
}
.container button{
    width: 40%;
    background: #EAF7FA;
    border: 2px solid #1F1F1F;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navBtn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border:none;
    outline: none;
    visibility: hidden;
    opacity:0;
    /* position:relative; */
}

nav{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: flex-end;
}

.subnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

@media(max-width: 768px){
    nav{
        position: fixed;
        /* top: 0;
        left:0;
        height: 100%;*/
        width:100%; 
        transition: 1s;
        transform: translateY(-100vh);
        display: flex;
        flex-direction: column-reverse;

    }

    .navBtn{
        visibility: visible;
        opacity: 1;
    }

    .responsiveNav{
        transform: none;
    }
    .subnav{
        display: flex;
        flex-direction: column;
    }
    .ul{
        flex-direction: column;
    }
}